<div class="services">
  <h2 class="category">Academic Services</h2>
  {% assign services = site.services | sort: "date" | reverse %}
  <div class="service-list">
    {% for item in services %}
      <div class="service-item">
        <span class="item-role">{{ item.role }}</span>
        
        <span class="item-venue">{{ item.venue }}</span>

        <span class="item-separator-auto"></span>
        <span class="item-year">{{ item.date | date: "%Y" }}</span>
      </div>
    {% endfor %}
  </div>
</div>